<?xml version='1.0' encoding='utf-8'?>
<widget id="com.kuro.todoapp" version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>K-Todo</name>
    <description>A sample Apache Cordova todo application</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Jonathan Kuro
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
